In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import lxml as lx

In [23]:
url = 'https://kworb.net/spotify/artist/06HL4z0CvFAxyc27GXpf02_songs.html'
page = requests.get(url)

In [42]:
soup = BeautifulSoup(page.text, 'html.parser')

In [43]:
table1 = soup.find('table', class_='addpos sortable')

In [44]:
for tswift_data in table1.find_all('tbody'):
    rows = tswift_data.find_all('tr')

In [27]:
songnames = []
total_streams = []
daily_streams = []
for row in rows:
    songname = row.find_all('td')[0].text
    total_stream = row.find_all('td')[1].text
    daily_stream = row.find_all('td')[2].text
    songnames.append(songname)
    total_streams.append(total_stream)
    daily_streams.append(daily_stream)
df = pd.DataFrame({'Song Name': songnames, 'Total Streams': total_streams, 'Daily Streams': daily_streams})
df

,Song Name,Total Streams,Daily Streams
0,Blank Space,"1,637,757,726","1,331,040"
1,* I Donât Wanna Live Forever (Fifty Shades D...,"1,517,754,391","731,987"
2,Cruel Summer,"1,455,635,719","3,969,167"
3,Anti-Hero,"1,283,488,567","1,806,975"
4,Shake It Off,"1,267,555,924","804,626"
...,...,...,...
495,Teardrops On My Guitar - Radio Single Remix / ...,"168,616",101
496,We Are Never Ever Getting Back Together - Kara...,"168,588",54
497,Long Live - Commentary,"167,901",78
498,Sparks Fly - Instrumental With Background Vocals,"161,461",64
499,New Romantics - Karaoke Version,"161,255",84

In [28]:
mask = ~df['Song Name'].str.contains('Karaoke', case=False)

# Apply the mask to filter out rows
filtered_df = df[mask]

In [29]:
comm = ~df['Song Name'].str.contains('Commentary', case=False)
filtered_df = filtered_df[comm]

/var/folders/17/yzv8p5r94rq9v3121w6rzfyw0000gn/T/ipykernel_11721/1389948503.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[comm]

In [14]:
df.to_csv('seconddraft.csv', index=False)

In [36]:
df

,Song Name,Total Streams,Daily Streams
0,Blank Space,"1,637,757,726","1,331,040"
1,I Don't Wanna Live Forever (Fifty Shades Darker),"1,517,754,391","731,987"
2,Cruel Summer,"1,455,635,719","3,969,167"
3,Anti-Hero,"1,283,488,567","1,806,975"
4,Shake It Off,"1,267,555,924","804,626"
...,...,...,...
495,Teardrops On My Guitar - Radio Single Remix / ...,"168,616",101
496,We Are Never Ever Getting Back Together - Kara...,"168,588",54
497,Long Live - Commentary,"167,901",78
498,Sparks Fly - Instrumental With Background Vocals,"161,461",64
499,New Romantics - Karaoke Version,"161,255",84

In [16]:
df['Song Name'] = df['Song Name'].str.replace("([From The Vault])", "From The Vault")

/var/folders/17/yzv8p5r94rq9v3121w6rzfyw0000gn/T/ipykernel_11721/863604108.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Song Name'] = df['Song Name'].str.replace("([From The Vault])", "From The Vault")

In [31]:
df['Song Name'] = df['Song Name'].str.replace("â", "'")

In [33]:
df['Song Name'] = df['Song Name'].str.lstrip('*')

In [35]:
df['Song Name'] = df['Song Name'].str.replace(r'\(From The Vault\)', '[From The Vault]', regex=True)

In [37]:
df.iloc[19, 0]

"All Too Well (10 Minute Version) (Taylor's Version) [From The Vault]"

In [39]:
df['Song Name'] = df['Song Name'].str.lstrip()

In [40]:
df

,Song Name,Total Streams,Daily Streams
0,Blank Space,"1,637,757,726","1,331,040"
1,I Don't Wanna Live Forever (Fifty Shades Darker),"1,517,754,391","731,987"
2,Cruel Summer,"1,455,635,719","3,969,167"
3,Anti-Hero,"1,283,488,567","1,806,975"
4,Shake It Off,"1,267,555,924","804,626"
...,...,...,...
495,Teardrops On My Guitar - Radio Single Remix / ...,"168,616",101
496,We Are Never Ever Getting Back Together - Kara...,"168,588",54
497,Long Live - Commentary,"167,901",78
498,Sparks Fly - Instrumental With Background Vocals,"161,461",64
499,New Romantics - Karaoke Version,"161,255",84

In [41]:
df.to_csv('swiftstreams.csv', index=False)